body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}
canvas { display: block; }

/* Start screen */
#startScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  pointer-events:auto;
  z-index: 20;
}
canvas {
  z-index:10;
  position:relative:
}  

/* Tombol mobile */
#mobileControls { display: none; z-index: 10; position: absolute; width: 100%; height: 100%; pointer-events: none; }
#mobileControls button {
  position: absolute;
  padding: 15px 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  color: white;
  font-size: 16px;
  pointer-events: auto;
}
#shootBtn { bottom: 20px; right: 20px; background: darkred; }
#scopeBtn { bottom: 100px; right: 20px; background: darkgreen; }
#runBtn { bottom: 20px; left: 20px; background: darkblue; }
#jumpBtn { bottom: 100px; left: 20px; background: orange; }
#dpad { position: absolute; bottom: 150px; left: 20px; width: 120px; height: 120px; }
.dirBtn { width: 40px; height: 40px; margin: 2px; background: gray; color: white; font-weight: bold; border-radius: 5px; border: none; }
