body { margin:0; overflow:hidden; font-family:sans-serif; }
canvas { display:block; }

#controls {
  position:absolute;
  bottom:10px;
  left:10px;
  z-index:10;
}
#controls button {
  margin:2px;
  padding:10px 15px;
  font-size:16px;
  font-weight:bold;
  border:none;
  border-radius:5px;
  background:darkred;
  color:white;
}
