body{margin:0;overflow:hidden;font-family:sans-serif;}
canvas{display:block;}

#startScreen{
    position:absolute;top:0;left:0;width:100%;height:100%;
    background:rgba(0,0,0,0.7);display:flex;
    justify-content:center;align-items:center;z-index:10;
}
#startScreen button{
    padding:20px 40px;font-size:24px;border:none;border-radius:10px;
    background:darkred;color:white;font-weight:bold;
}

#mobileControls{
    position:absolute;bottom:10px;left:10px;z-index:10;display:none;
}
.joystick button{
    width:50px;height:50px;margin:5px;border-radius:50%;
    font-size:20px;background:#333;color:white;
    border:none;
}
.actionBtns button{
    width:60px;height:40px;margin:5px;border-radius:5px;
    font-size:16px;background:darkred;color:white;border:none;
}
